# Игнорируем виртуальные окружения
venv/
.venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo

# Игнорируем файлы и папки, связанные с версиями
.git/
.gitignore

# Исключаем временные файлы и логи
*.log
*.tmp

# Исключаем IDE и редакторские конфигурационные файлы
.vscode/
.idea/